# Byte-compiled / optimized Python files
*.pyc
*.pyo
__pycache__/

# IDE-specific files and directories
.idea/
*.iml
*.iws
*.ipr

# Editor backups and swap files
*~
*.swp
*.swo
*.bak
*.save

# Exclude build artifacts
ReprTraceback.egg-info/
dist/
